.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container h1{
    color: #3f51b5;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-input{
    margin-top: 10px;
}

.login-container button{
    margin-top: 30px;
}

.remember-check{
    margin-top: 30px;
}